In [7]:
import ibm_db

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_hostname = "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net" # e.g.: "awh-yp-small03.services.dal.bluemix.net"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_uid = "rkc86143"        # e.g. "dash104434"
dsn_pwd = "87nvnpw^q6hb317v"       # e.g. "7dBZ3wWt9xN6$o0JiX!m"

#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)
try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected!")

except:
    print ("Unable to connect to database")

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=rkc86143;PWD=87nvnpw^q6hb317v;
Connected!

In [1]:
%load_ext sql
%sql ibm_db_sa://rkc86143:87nvnpw%5Eq6hb317v@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

'Connected: rkc86143@BLUDB'

**Problem 1: Find the total number of records for each of the tables**

In [93]:
%sql select count(*) from CHIPUBLIC;

 * ibm_db_sa://rkc86143:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('1132'),)]

In [39]:
%sql select count(*) from CENSUS;

 * ibm_db_sa://rkc86143:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('156'),)]

In [41]:
%sql select count(*) from CHICRIME;

 * ibm_db_sa://rkc86143:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('1066'),)]

**Problem 2 Find average college enrollments by community area**

In [179]:
%sql select avg("College_Enrollment__number_of_students_") from CHIPUBLIC;

 * ibm_db_sa://rkc86143:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('626.053003'),)]

**Problem 3: Find the number of schools that are healthy school certified**

In [265]:
%sql select "Name_of_School", "Healthy_Schools_Certified_" from CHIPUBLIC where "Healthy_Schools_Certified_"

 * ibm_db_sa://rkc86143:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Abraham Lincoln Elementary School', 'Yes'),
 ('Air Force Academy High School', 'Yes'),
 ('Ana Roque de Duprey Elementary School', 'Yes'),
 ('Calmeca Academy of Fine Arts and Dual Language', 'Yes'),
 ('Cyrus H McCormick Elementary School', 'Yes'),
 ('Eli Whitney Elementary School', 'Yes'),
 ('Francisco I Madero Middle School', 'Yes'),
 ('Hawthorne Elementary Scholastic Academy', 'Yes'),
 ('Irma C Ruiz Elementary School', 'Yes'),
 ('John A Walsh Elementary School', 'Yes'),
 ('John C Burroughs Elementary School', 'Yes'),
 ('Jose De Diego Elementary Community Academy', 'Yes'),
 ('Manuel Perez Elementary School', 'Yes'),
 ('Nathanael Greene Elementary School', 'Yes'),
 ('Rufus M Hitch Elementary School', 'Yes'),
 ('Sharon Christa McAuliffe Elementary School', 'Yes'),
 ('Abraham Lincoln Elementary School', 'Yes'),
 ('Air Force Academy High School', 'Yes'),
 ('Ana Roque de Duprey Elementary School', 'Yes'),
 ('Calmeca Academy of Fine Arts and Dual Language', 'Yes'),
 ('Cyrus H McCormick Elementary School', 'Yes'),
 ('Eli Whitney Elementary School', 'Yes'),
 ('Francisco I Madero Middle School', 'Yes'),
 ('Hawthorne Elementary Scholastic Academy', 'Yes'),
 ('Irma C Ruiz Elementary School', 'Yes'),
 ('John A Walsh Elementary School', 'Yes'),
 ('John C Burroughs Elementary School', 'Yes'),
 ('Jose De Diego Elementary Community Academy', 'Yes'),
 ('Manuel Perez Elementary School', 'Yes'),
 ('Nathanael Greene Elementary School', 'Yes'),
 ('Rufus M Hitch Elementary School', 'Yes'),
 ('Sharon Christa McAuliffe Elementary School', 'Yes')]

**Problem 4: How many observations have a Location Description value of GAS STATION?**

In [6]:
%sql select count(*) "Gas Stations" from CHICRIME where "Location_Description" = 'GAS STATION'

 * ibm_db_sa://rkc86143:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('12'),)]

**Problem 5: Retrieve a list of the top 10 community areas which have most number of schools and sorted in descending order.**

In [76]:
%sql select "Name_of_School", "Average_Student_Attendance" from CHIPUBLIC \
    order by "Average_Student_Attendance" desc nulls last limit 10

 * ibm_db_sa://rkc86143:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('John Charles Haines Elementary School', '98.4%'),
 ('John Charles Haines Elementary School', '98.4%'),
 ('James Ward Elementary School', '97.8%'),
 ('James Ward Elementary School', '97.8%'),
 ('Edgar Allan Poe Elementary Classical School', '97.6%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.6%'),
 ('Rachel Carson Elementary School', '97.6%'),
 ('Edgar Allan Poe Elementary Classical School', '97.6%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.6%'),
 ('Rachel Carson Elementary School', '97.6%')]

**Problem 6: How many observations have value MOTOR VEHICLE THEFT in the Primary Type variable (this is the number of crimes related to Motor vehicles)**

In [326]:
%sql select "ID", "Case_Number", "Primary_Type" from CHICRIME where "Primary_Type" = 'MOTOR VEHICLE THEFT'

 * ibm_db_sa://rkc86143:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(10268156, 'HY455377', 'MOTOR VEHICLE THEFT'),
 (6672913, 'HP747058', 'MOTOR VEHICLE THEFT'),
 (5835389, 'HN645348', 'MOTOR VEHICLE THEFT'),
 (3969617, 'HL334216', 'MOTOR VEHICLE THEFT'),
 (7427845, 'HS230740', 'MOTOR VEHICLE THEFT'),
 (8921455, 'HV593288', 'MOTOR VEHICLE THEFT'),
 (3310641, 'HK341632', 'MOTOR VEHICLE THEFT'),
 (2514430, 'HH859922', 'MOTOR VEHICLE THEFT'),
 (1790731, 'G611731', 'MOTOR VEHICLE THEFT'),
 (5161792, 'HM757133', 'MOTOR VEHICLE THEFT'),
 (3072896, 'HJ786817', 'MOTOR VEHICLE THEFT'),
 (8681629, 'HV356669', 'MOTOR VEHICLE THEFT'),
 (9556192, 'HX207970', 'MOTOR VEHICLE THEFT'),
 (5136468, 'HM733422', 'MOTOR VEHICLE THEFT'),
 (2116573, 'HH352862', 'MOTOR VEHICLE THEFT'),
 (1819413, 'G652158', 'MOTOR VEHICLE THEFT'),
 (9651438, 'HX301095', 'MOTOR VEHICLE THEFT'),
 (9974424, 'HY163644', 'MOTOR VEHICLE THEFT'),
 (6723496, 'HR140766', 'MOTOR VEHICLE THEFT'),
 (2316019, 'HH605275', 'MOTOR VEHICLE THEFT'),
 (2859254, 'HJ513676', 'MOTOR VEHICLE THEFT'),
 (2103277, 'HH337319', 'MOTOR VEHICLE THEFT'),
 (2169996, 'HH423186', 'MOTOR VEHICLE THEFT'),
 (5733472, 'HN543219', 'MOTOR VEHICLE THEFT'),
 (10268156, 'HY455377', 'MOTOR VEHICLE THEFT'),
 (6672913, 'HP747058', 'MOTOR VEHICLE THEFT'),
 (5835389, 'HN645348', 'MOTOR VEHICLE THEFT'),
 (3969617, 'HL334216', 'MOTOR VEHICLE THEFT'),
 (7427845, 'HS230740', 'MOTOR VEHICLE THEFT'),
 (8921455, 'HV593288', 'MOTOR VEHICLE THEFT'),
 (3310641, 'HK341632', 'MOTOR VEHICLE THEFT'),
 (2514430, 'HH859922', 'MOTOR VEHICLE THEFT'),
 (1790731, 'G611731', 'MOTOR VEHICLE THEFT'),
 (5161792, 'HM757133', 'MOTOR VEHICLE THEFT'),
 (3072896, 'HJ786817', 'MOTOR VEHICLE THEFT'),
 (8681629, 'HV356669', 'MOTOR VEHICLE THEFT'),
 (9556192, 'HX207970', 'MOTOR VEHICLE THEFT'),
 (5136468, 'HM733422', 'MOTOR VEHICLE THEFT'),
 (2116573, 'HH352862', 'MOTOR VEHICLE THEFT'),
 (1819413, 'G652158', 'MOTOR VEHICLE THEFT'),
 (9651438, 'HX301095', 'MOTOR VEHICLE THEFT'),
 (9974424, 'HY163644', 'MOTOR VEHICLE THEFT'),
 (6723496, 'HR140766', 'MOTOR VEHICLE THEFT'),
 (2316019, 'HH605275', 'MOTOR VEHICLE THEFT'),
 (2859254, 'HJ513676', 'MOTOR VEHICLE THEFT'),
 (2103277, 'HH337319', 'MOTOR VEHICLE THEFT'),
 (2169996, 'HH423186', 'MOTOR VEHICLE THEFT'),
 (5733472, 'HN543219', 'MOTOR VEHICLE THEFT')]

**Problem 7: Using INNER JOIN, find the minimum “Average Student Attendance” for community are where hardship is 96**

In [130]:
%sql select min(PUB."Average_Student_Attendance"), CEN.Hardship_Index 
from CENSUS as CEN INNER JOIN CHIPUBLIC as PUB ON CEN."Community_Area_Number" = PUB."Community_Area_Number" 
WHERE CEN.Hardship_Index = 96 
GROUP BY CEN.Hardship_Index

 * ibm_db_sa://rkc86143:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('86.1%', 96)]